/* Hero section */
.hero-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #4fa3e3;
}

.overview-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: aqua;
}

.overview-desc.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overview-description {
    font-size: 1rem;
    text-align: center;
    max-width: 600px; /* Limit width for readability */
}

.picture {
    width: 400px;
    height: 400px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
}

.buttonCard {
    font-weight: bold;
    width: 350px;
    height: 350px;
    padding: 5px;
    font-size: xx-large;
    border-radius: 20%;
    overflow: hidden;
}
.buttonCard:hover {
    background-color: aquamarine;
    transition: background-color 0.3s ease-in;
}

.electrical {
    background-color: #4fa3e3; /* Light blue for Electrical */
}

/* Mechanical card specific styles */
.mechanical {
    background-color: #003b66; /* Dark blue for Mechanical */
    position: relative;
}

.software {
    background-color: mediumblue;
}

/* Section Headers  */
.section-head {
    font-size: 3rem; /* Adjust size */
    font-weight: bold;
}
